<app-header></app-header>

<div class="py-3">
  <a href="demandeRendezvous">Rendez-vous</a>
  <h1 class="text-center">Notification</h1>
  <div class="p-2" *ngFor="let notif of listeNotification" >
      <div class="row py-3 shadow-sm border">
          <div class="col-4">
              <img class="img-fluid img-thumbnail" src="assets/img/Sanstitre-3_700x700.webp?h=fbd93d39cd1011a3505be7d8225f89ea">
          </div>
          <div class="col-8">
              <h5 class="text-primary" style="border-color: rgb(66,177,192);">{{
                  notif.designation
              }}</h5>
              <p><em>le {{ notif.datedemande }}</em></p>
              <p><strong><em>{{notif.email_client}}</em></strong> a commandé cet article.</p>
              <div><a href="detailProduit/{{ notif.id }}">Voir &gt;</a><button class="btn btn-danger float-end" type="button" (click)="valideeNotification(notif.id, notif.email_client)">Confirmer</button></div>
          </div>
      </div>
  </div>
</div>
