<app-header></app-header>

<div class="chart-container">
  <canvas id="MyChart" >{{ chart }}</canvas>
</div>

 <br>


 <table class="table">
  <thead>
    <tr>
      <th scope="col">Désignation</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let liste of dataStatistique">
      <td>{{ liste.designation }}</td>
      <td>{{ liste.prix }}</td>
    </tr>
  </tbody>
</table>

<br>

<div class="chart-container">
  <canvas id="MyDonnut" >{{ chart }}</canvas>
</div>

