<section class="vh-100" style="background-color: rgb(66,177,192);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">

              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="userForm">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0"><img class="img-fluid" src="assets/img/logo.png?h=10aff429c6f04b0b7ba2fb0e78c2378b"></span>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example17" class="form-control form-control-lg" formControlName="email"/>
                    <label class="form-label" for="form2Example17" >Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" formControlName="pass"/>
                    <label class="form-label" for="form2Example27" >Password</label>
                  </div>

                  <div class="form-outline mb-4">
                    <select class="form-select" aria-label="Default select example" formControlName="iduserrole">
                      <option value="3">DG</option>
                      <option value="2">Assistant</option>
                    </select>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="button" (click)="traitementLogin()">Login</button>
                  </div>

                </form>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
